<div class="footer">
  <div class="footer-left">
    <h2 class="links"><a href="contact">Contact Us</a></h2>
    <h2 class="links"><a href="about">About</a></h2>
    <h2 class="links"><a href="projects">Footprints</a></h2>


    <div class="left-image">
      <a href="https://www.facebook.com/WMPSC/" target="_blank"><img src="../assets/15.png" class="social-img"  alt="" /></a>
      <a href="https://www.linkedin.com/company/wmpsc" target="_blank"><img src="../assets/16.png" class="social-img" alt="" /></a>
      <a href="https://twitter.com/WMPSkillCouncil" target="_blank"><img src="../assets/17.png" class="social-img" alt="" /></a>
      <a href="https://instagram.com/wmp_skillcouncil" target="_blank"><img src="../assets/18.png" class="social-img" alt="" /></a>
    </div>
  </div>

  <div class="footer-right">
    <h2>Water Management And Plumbing <br/> Skill Council</h2>

    <div>
      <h3>Address</h3>
      <h4>
        Unit: 606 & 609, DLF Prime Towers, Tower-C, <br/>Okhla Phase I, New Delhi,
        Delhi 110020
      </h4>
    </div>
    <h4>Email Id: wmpsc&#64;wmpsc.in</h4>
  </div>
</div>
