.footer {
  background: rgb(10, 0, 185);
  background: -moz-linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a00b9",endColorstr="#00d4ff",GradientType=1);
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.footer-right {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
}

.left-image > a > img {
  height: 60px;
  object-fit: contain;
  mix-blend-mode: normal;
  aspect-ratio: 3 / 2;
}

/* .footer-right >  {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: #184e97;
} */

.links > a{
  text-decoration: none;
  color: white;
}
