<nav class="flex-div">

    <img src="../assets/19.png" class="img-main" />
    <img src="../assets/1.png" class="seperate-img" alt="" />
    <img src="../assets/2.png" class="seperate-img" alt="" />
    <img src="../assets/3.png" class="seperate-img" alt="" />
    <img src="../assets/4.png" class="seperate-img" alt="" />
    <img src="../assets/5.png" class="seperate-img" alt="" />
    <!-- <span >

    </span> -->
</nav>

<nav class="flex-link">
  <span class="links"><a href="home">Home</a></span>
  <span class="links"><a href="about">About</a></span>
  <span class="links"><a href="projects">Footprints</a></span>
  <span class="links"><a href="contact">Contact</a></span>
</nav>

<div class="flex-div">
  <img src="../assets/6.png" alt="" class="img-main" />
</div>
