.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header > img {
  width: 100px;
}

.header > h2 {
  background: #0a00b9;
  background: linear-gradient(to right, #0a00b9 0%, #0c0ccc 16%, #00d4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: bold;
}

.top-content {
  display: flex;
  justify-content: space-between;
}

.map > img {
  max-height: 760px;
}

.map-correspondense {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.map-correspondense > img {
  width: 360px;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-burn;
}

.bottom-map {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3%;
}

.bottom-map > img {
  width: 360px;
  height: 200px;
  object-fit: cover;
  mix-blend-mode: multiply;
}

