<div class="header">
  <img src="../../../assets/7.png" alt="">
  <h2>Our Footprints</h2>
</div>

<div class="images-container">
  <div class="top-content">
    <div class="map">
      <img src="../../../assets/23.png" alt="" />
    </div>

    <div class="map-correspondense">
      <img src="../../../assets/24.png" alt="">
      <img src="../../../assets/25.png" alt="">
      <img src="../../../assets/26.png" alt="">
    </div>

  </div>

  <div class="bottom-map">
    <img src="../../../assets/27.png" alt="">
    <img src="../../../assets/28.png" alt="">
    <img src="../../../assets/29.png" alt="">
    <img src="../../../assets/30.png" alt="">
  </div>
</div>
