<div class="header">
  <img src="../../../assets/7.png" alt="">
  <h1>About Us</h1>
</div>

<div class="container">
  <p>
    "Main Bhi Jal Rakshak” Campaign (by Water Management & Plumbing Skill Council) was launched on 17th September 2022 in association. The campaign was launched by Hon’ble Union Minister of Education & Skill Development & Entrepreneurship Shri Dharmendra Pradhan, Hon’ble Union Minister of State for Skill Development and Entrepreneurship Shri Rajeev Chandrasekhar, in presence of officials from Rotary, SSRDP and WMPSC.<br/>

    The collaboration was formed with the goal of promoting water conservation by educating students on water-saving methods, developing program that directly reduce water waste, advocating for the importance of water conservation to the masses, and instilling a sense of pride in the individual for contributing to this national service. School kids from Assam, Andaman and Nicobar Island, Gujarat, Himachal Pradesh, Karnataka, Sikkim, Uttarakhand, West Bengal, Tripura, Delhi, and Chhattisgarh will be trained as part of this program. This campaign seeks to empower kids to educate their friends and family members about the significance of water and how they may save it for future use while also controlling water pollution, which is a major problem for the world. The cooperation also intends to save 1000 crores of liters of water each year by encouraging students to install aerators and low-flow fixtures.
  </p>
</div>

<div class="bottom-img">
  <img src="'../../../../../assets/22.png" alt="">
</div>
