.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header > img {
  height: 120px;
}

.header > h1 {
  color: #184e97;
  font-size: 32px;
  font-weight: bold;
}

.container {
  margin: 2%;
  padding: 2%;
  background-color: #87dbf7;
  color: black;
  border-radius: 12px;
}

.container > p{
  text-align: justify;
  line-height: 1.8;
  font-size: 22px;
}

.bottom-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-img > img {
  height: 250px;
}
