<div style="margin: 2%">
  <div class="container">
    <div class="left-container">
      <div class="main-content">
        <img src="../assets/7.png" alt="">
        <div>
          <h1>MAI BHI JAL RAKSHAK <h2>Jal Hai To Jeevan Hai</h2></h1>
        </div>
      </div>

  <div class="secondary-content">
    <div class="content">

    </div>

    <div class="action">
      <button class="btn btn-primary">Become Water Saving Ambessdor</button>
    </div>
  </div>
    </div>

    <div class="right-container">
      <img src="../assets/21.png" class="foreground" alt="">
      <!-- <img src="../assets/8.png" class="background" alt=""> -->
    </div>
  </div>


  <div class="container-new">
    <div class="left-content">
      <div class="top-content">
        <h3 style="text-align: center;">Reduce <br/> Water Wastage</h3>
      </div>
      <div class="bottom-content">
        <h3 style="text-align: center;">Recycle Water</h3>
        <img src="../assets/10.png" alt="">
        <h3 style="text-align: center;">Reuse Leftover Water</h3>
      </div>
      <!-- <img src="https://lottie.host/95423ee7-7ac0-47b9-9f20-c8ace0b0e70a/bDBIkUaGjF.json" alt=""> -->
    </div>
    <div class="right-content">
      <h2>About</h2>
      <h4><b>"Main Bhi Jal Rakshak”</b> Campaign (by Water Management & Plumbing Skill Council) was launched on 17th September 2022 in association. The campaign was launched by Hon’ble Union Minister of Education & Skill Development & Entrepreneurship Shri Dharmendra Pradhan, Hon’ble Union Minister of State for Skill Development and Entrepreneurship Shri Rajeev Chandrasekhar, in presence of officials from Rotary, SSRDP and WMPSC.</h4>
    </div>
  </div>


  <div class="glimpse-container">
    <div class="header">
      <h2>Glimpses Of The Campgains</h2>
    </div>

    <div class="img-collage">
      <img src="../../../assets/11.png" alt="">
      <img src="../../../assets/12.png" alt="">
      <img src="../../../assets/13.png" alt="">
    </div>
  </div>
</div>


