.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
}

.container-new {
  display: flex;
  justify-content: space-between;
  margin: 4%;
  margin-top: 8%;
}

@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }

  .left-container {
    justify-content: center;
    align-items: center;
  }

  .right-container {
    align-items: center;
  }
  .container-new {
    flex-wrap: wrap;
  }
}

.secondary-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 12%;
}

.main-content > div > h1 {
  background: #0a00b9;
  background: linear-gradient(to right, #0a00b9 0%, #0c0ccc 16%, #00d4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-content > div > h3 {
  color: #0073ff;
}

.main-content > img {
  width: 340px;
}

.content {
  text-align: center;
  align-items: center;
}

.content > h2 {
  color: #0073ff;
  font-size: 42px;
  margin-top: 1%;
}

.action {
  align-items: center;
  text-align: center;
  width: 100%;
}

.btn-primary {
  padding: 5%;
  align-items: center;
  color: black;
  background-color: #87dbf7;
  color: #0073ff;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  background: rgb(0, 212, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 82%,
    rgba(2, 0, 36, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 82%,
    rgba(2, 0, 36, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 82%,
    rgba(2, 0, 36, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d4ff",endColorstr="#020024",GradientType=1);
  color: white;
  opacity: 0.9;
  transition: 0.9s;
}

.right-container > img {
  height: 500px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 2%;
}

.bottom-content > img {
  height: 200px;
  padding: 0px 120px 0px 120px;
}

.right-content {
  background-color: #87dbf7;
  background: rgb(10, 0, 185);
  background: -moz-linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a00b9",endColorstr="#00d4ff",GradientType=1);
  padding: 2%;
  color: white;
}

.right-content > h2 {
  font-weight: bolder;
  font-size: 28px;
}

.right-content > h4 {
  font-weight: normal;
  font-size: 24px;
}

.glimpse-container {
  margin: 4%;
}

.bottom-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-content > h3 {
  color: #184e97;
}

.bottom-content > h3 {
  color: #184e97;
}

.header {
  margin-top: 4%;
  text-align: center;
  color: #184e97;
}

.img-collage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-collage > img {
  width: 410px;
  /* aspect-ratio: 3/2; */
  object-fit: contain;
  mix-blend-mode: color-burn;
}

@media (max-width: 1000px) {
  .img-collage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.btn-primary:hover {
  color: #0073ff;
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  color: white;
  opacity: 1;
}
