.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header > img {
  height: 120px;
}

.header > h1 {
  background: #0a00b9;
  background: linear-gradient(to right, #0a00b9 0%, #0c0ccc 16%, #00d4ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 620px;
}

.container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #87dbf7;
  border-radius: 12px;
  height: 600px;
  margin: 2%;
  padding: 2%;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.form-group > label {
  color: #184e97;
  font-size: 20px;
}

.form-group > input {
  border: solid 1px #0073ff;
  border-radius: 12px;
  height: 30px;
  width: 200px;
}

.btn-primary {
  padding: 4%;
  align-items: center;
  background: rgb(10, 0, 185);
  background: -moz-linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(10, 0, 185, 1) 0%,
    rgba(12, 12, 204, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a00b9",endColorstr="#00d4ff",GradientType=1);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.55);
  opacity: 1.0;
  transition: 0.3s;
  cursor: pointer;
}

.btn-primary:hover{
  opacity: 1;
}

.bottom-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-message > h2 {
  color: #0073ff;
}
