<div class="header">
  <img src="../../../assets/7.png" alt="">
  <h1>Contact Us</h1>
</div>


<div class="container">
  <form action="">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" name="" id="">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" name="" id="">
    </div>

    <div class="form-group">
      <label for="emailId">Email ID</label>
      <input type="email" name="" id="">
    </div>

    <div class="form-group">
      <label for="contactNo">Contact Number</label>
      <input type="tel" name="" id="">
    </div>

    <button class="btn-primary">
      Submit
    </button>
  </form>
</div>

<div class="bottom-message">
  <h2>Join us in this noble cause to secure a better future for generations to come.</h2>
</div>
